.product-card__button-order,
.page-catalog__more-button,
.yet-products__button-order {
  background-color: $green;
  font-family: $regular;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: none;
  color: $f;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.page-catalog__more-button {
  background-color: $grey;
  color: #7e7e7e;

  @media (min-width: $tablet-width) {
    width: 75%;
    margin-top: 175px;
  }
}

.product-card__button-order {
  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.yet-products__button-order {
  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    height: 44px;
    padding: 12px 0;
  }
}
