.invite-block {
  background-color: $f;

  &__form {
    background-color: $grey;
  }

  @media (min-width: $tablet-width) {
    &--grey {
      background-color: $grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.invite-block div {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 100px;
    top: 150px;
    background-color: $f;
    padding: 20px;
  }
}

.invite-block__description {
  display: block;
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 150px;
    margin-right: 50px;
  }
}

.invite-block__address {
  display: block;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
}

.invite-block iframe {
  width: 100%;
  min-height: 475px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
