.invite-block {
  background-color: $f;

  &__form {
    background-color: $grey;
  }

  @media (min-width: $tablet-width) {
    padding-top: 34px;

    &--grey {
      background-color: $grey;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.invite-block div {
  display: flex;
  justify-content: space-between;
  margin: 0 19px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    padding-bottom: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    justify-content: space-around;
    width: 460px;
    min-width: auto;
    left: 40px;
    top: 0;
    max-height: 250px;
    margin-top: 94px;
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 58px;
    background-color: #ffffff;
  }
}

.invite-block__description {
  display: block;
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 236px;
    margin-right: 50px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 25px;
    width: 193px;
    margin-right: 0;
  }
}

.invite-block__address {
  display: block;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  width: 276px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    width: 197px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    width: 160px;
    text-align: left;
    margin-top: 19px;
  }
}

.invite-block__span {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    display: block;
  }
}

.invite-block iframe {
  width: 100%;
  min-height: 376px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}
