.page-footer {
  background-color: $grey;
}

.page-footer iframe {
  min-width: 280px;
  min-height: 475px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.page-footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
