.page-catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-catalog__product-catalog {
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 13px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 165px;
    font-size: 60px;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    margin-top: 69px;
  }
}

.page-catalog__show-more {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 10px 0 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 245px;
    min-height: 430px;
  }
}

.page-catalog__show-more-link {
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 16px auto 10px;
  background-image: url("/img/icon-plus-mobile.svg");
  cursor: pointer;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    width: 63px;
    height: 63px;
    margin: 41px auto 23px;
  }

  @media (min-width: $desktop-width) {
    width: 63px;
    height: 63px;
    margin: 41px auto 23px;
  }
}

.page-catalog__more-caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-transform: uppercase;
    width: 150px;
    margin: 25px auto 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    text-transform: uppercase;
    width: 150px;
    margin: 25px auto 0;
  }
}

.page-catalog__more-taste {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
    width: 175px;
    margin: 27px auto 0;
  }
}

.page-catalog__gift {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 289px;
  margin-top: 38px;
  margin-bottom: 34px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 2px -350px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 245px;
    height: 289px;
    margin: 7px 0 0 0;
  }
}

.page-catalog__gift-descr {
  margin-top: 62px;
  padding: 0 50px;
  font-size: 16px;
  line-height: 20px;
  font-family: $arial;
  text-align: center;
  color: $f;

  @media (min-width: $tablet-width) {
    width: 165px;
    text-align: left;
    margin-right: 69px;
    margin-top: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
}

.additional__image {
  width: 55px;
  height: 60px;
  margin: 0 auto;
  margin-top: 65px;
  fill: $f;

  @media (min-width: $tablet-width) {
    width: 235px;
    margin: 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}
