.page-catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-catalog__product-catalog {
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.page-catalog__more-caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.page-catalog__more-taste {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
}

.page-catalog__gift {
  background-image: url("/img/gift-photo-mobile%401x.jpg");

  @media (min-width: $desktop-width) {
    display: block;
  }
}
