.page-footer {
  text-align: center;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
  }
}

.page-footer__logo {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}

.page-footer div {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright {
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 20px;
    border: none;
  }
}

.logo-image__footer {
  padding-top: 30px;
  padding-right: 3px;
  padding-bottom: 40px;
  line-height: 16px;
  font-family: $arial;
  color: $grey;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.page-footer__text-icon {
  display: block;
  margin: 0 auto;
  padding: 40px 0 32px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__icon {
  margin-right: -7px;
  fill: #666666;

  @media (min-width: $tablet-width) {
    margin-top: -9px;
    margin-right: -6px;
  }
}

.page-footer__link:hover .page-footer__icon,
.page-footer__link:focus .page-footer__icon {
  fill: $green;
}

.page-footer__link:active .page-footer__icon {
  opacity: 0.3;
}
