.page-header {
  position: relative;

  &--main {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/img/index-background-mobile%401x.jpg");
      z-index: -1;
    }

    @media (min-width: $tablet-width) {
      background-image: none;
      min-height: 900px;

      &::after {
        position: absolute;
        content: "";
        top: 50px;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/img/index-can-tablet%401x.jpg");
        z-index: -1;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 720px;

      &::before {
        position: absolute;
        content: "";
        right: 0;
        width: 720px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/img/index-background-desktop%401x.jpg");
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50px;
        right: 365px;
        width: 470px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/img/index-can-desktop%401x.png");
      }
    }
  }
}

.page-header__main-background {
  @media (min-width: $desktop-width) {
    transform: translateX(500px);
  }
}

.page-header__nutrifit-caption {
  font-family: inherit;
  font-size: 36px;
  font-height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  color: $f;
  font-weight: normal;
  margin: 21px 6px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-family: inherit;
    font-size: 60px;
    font-height: 60px;
    line-height: 50px;
    width: 425px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    font-family: inherit;
    font-size: 60px;
    font-height: 60px;
    line-height: 36px;
  }
}

.page-header__nutrifit {
  font-family: inherit;
  font-size: 14px;
  font-height: 14px;
  text-align: center;
  color: $f;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
  }
}

.page-header__search-programm {
  background-color: $green;
  font-family: inherit;
  font-size: 14px;
  font-height: 18px;
  text-transform: uppercase;
  padding: 15px 75px;
  box-sizing: border-box;
  margin: auto;
  border: none;
  color: $f;
}

.page-header__index-can {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
