.preview {
  background-color: $grey;
  width: 280px;
  min-height: 265px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 370px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 370px;
    margin: 5px 30px;
  }
}

.preview__caption {
  position: relative;

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 37px;
  }

  &--slim {
    font-family: inherit;
    font-size: 24px;
    line-height: 37px;
    color: $black;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-left: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 170px;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background-color: $green;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: 168px;
      width: 50px;
      height: 50px;
      background-image: url("../img/icon-cat-slim.svg");
      background-size: 35px 49px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--pro {
    font-family: inherit;
    font-size: 24px;
    line-height: 37px;
    color: $black;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-left: 60px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 170px;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background-color: $green;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: 161px;
      width: 80px;
      height: 70px;
      background-image: url("../img/icon-cat-pro.svg");
      background-size: 65px 28px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    font-size: 36px;
    line-height: 37px;
  }
}

.preview__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  width: 230px;
  border-bottom: 1px solid #c6bbbb;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 492px;
  }
}

.preview__link {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-top: 30px;
  }
}

.preview div {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 75px 0px 0 55px;
  }
}
