.product-card {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $grey;
  margin-bottom: 25px;

  & img {
    @media (max-width: 320px) {
    width: 140px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;

    &--rise {
    margin-bottom: 62px;
  }
}

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 430px;
    margin-bottom: 143px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
}

.product-card__caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  width: 80px;
  margin-bottom: 12px;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: auto;
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    margin-bottom: 22px;
    margin-top: 29px;
  }
}

.product-card__table {
  font-family: $arial;
  font-size: 12px;
  line-height: 14px;
  width: 140px;
  margin-top: 10px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 255px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.table_list__table-field {
  text-align: right;
  padding: 0;
}

.table_list__table-value,
.table_list__table-field {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #ababab;
    height: 28px;
    padding-left: 3px;
    padding-right: 2px;
  }

  @media (min-width: $desktop-width) {
    height: 29px;
    padding-right: 6px;
  }
}

.product-card__small-orange,
.product-card__small-blue,
.product-card__small-green,
.product-card__small-purple {
  @media (min-width: $tablet-width) {
    margin-top: -53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -52px;
  }
}

.product-card__big-orange,
.product-card__big-blue,
.product-card__big-green,
.product-card__big-purple {
  @media (min-width: $tablet-width) {
    margin-top: -89px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -87px;
  }
}

.page-catalog__product {
  @media (min-width: $desktop-width) {
    &--rice-small,
    &--buckwheat-big,
    &--buckwheat-small {
      margin-bottom: 71px;
    }
  }
}
