.product-card {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $grey;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 430px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 430px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
  }
}

.product-card__caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  width: 80px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: auto;
    width: 125px;
  }
}

.product-card__table {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    width: 260px;
  }
}

.table_list__table-field {
  text-align: right;
}

.table_list__table-value,
.table_list__table-field {
  border-bottom: 1px solid $green;
}
