.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.site-list__item {
  font-family: $medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid $grey;
  text-align: center;
  margin: 0 -20px;


  @media (min-width: $tablet-width) {
    font-family: $regular;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    border: none;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    border: none;
    font-size: 20px;
    line-height: 25px;

    &:last-child {
      margin: 0;

    }
  }
}

.site-list__link {
  display: inline-block;

  @media (min-width: $tablet-width) {
    &--active {
      padding-bottom: 6px;
      border-bottom: 2px solid $green;
    }
  }

  &--color {
    @media (min-width: $desktop-width) {
      color: $f;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 12px;
  }
}

.site-list__link--color.site-list__link--active {
  padding-bottom: 5px;
  border-bottom: 2px solid $f;
}
