.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.site-list__item {
  font-family: $medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid $grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;
    border: none;
  }

  @media (min-width: $desktop-width) {

  }
}

.main-nav__wrapper {
  width: 100%;
  margin: auto;
}
