.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.site-list__item {
  font-family: $medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid $grey;
  text-align: center;
  margin: 0 -20px;


  @media (min-width: $tablet-width) {
    font-family: $regular;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    border: none;
    padding-left: 30px;

    &:last-child {
      margin-right: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    border: none;
    padding-left: 50px;
    font-size: 20px;
    line-height: 24,86px;

    &:last-child {
      margin-right: 60px;
    }
  }
}



.site-list__link {
  padding: 24px;
  display: inline-block;

  &--color {
  @media (min-width: $desktop-width) {
    color: $f;
  }
}
}
