.true-example {
  background-color: $grey;
}

.true-example__caption {
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.true-example__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}
