.true-example {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    background-color: $f;
  }
}

.true-example__caption {
  font-family: $regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.true-example__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}

.true-example__range {
  @media (min-width: $tablet-width) {
    background-color: $grey;
  }
}

.true-example_main-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
