.yet-products__main-caption {
  font-family: $regular;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.yet-products__caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.yet-products__value,
.yet-products__price {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
}

.yet-products__sugar,
.yet-products__water,
.yet-products__milk,
.yet-products__vitamins, {
  @media (min-width: $tablet-width) {
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.yet-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.yet-products__wrapper div {
  @media (min-width: $desktop-width) {
    width: 895px;
  }
}
