.yet-products {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    background: #68b738;
    height: 3px;
    width: 100%;
    top: 15px;
    z-index: -1;
  }
}

.yet-products__main-caption {
  font-family: $regular;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  background: white;
  margin: 0;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 45px;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.yet-products__caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 210px;
  }
}

.yet-products__value,
.yet-products__price {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
}

.yet-products {
  &__sugar-value,
  &__water-value,
  &__milk-value,
  &__vitamins-value {
    @media (min-width: $desktop-width) {
      width: 210px
    }
  }
}

.yet-products__sugar div,
.yet-products__water div,
.yet-products__milk div,
.yet-products__vitamins div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $grey;

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.yet-products__vitamins {
  border-bottom: 1px solid $grey;
  padding-bottom: 25px;

   @media (min-width: $desktop-width) {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0;
  }
}

.yet-products__sugar,
.yet-products__water,
.yet-products__milk,
.yet-products__vitamins {
  @media (min-width: $tablet-width) {
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    border-top: 1px solid #eeeeee;
    padding-top: 18px;
    margin: 13px 10px 0;
  }
}

.yet-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.yet-products__sugar-price,
.yet-products__water-price,
.yet-products__milk-price,
.yet-products__vitamins-price {
  margin-left: 50px;
}

.yet-product__container {
  @media (min-width: $desktop-width) {
    width: 895px;
    margin-right: 40px;
  }
}
