.yet-products {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: #68b738;
    height: 3px;
    width: 100%;
    top: 14px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
    position: absolute;
    content: "";
    background: #68b738;
    height: 3px;
    width: 100%;
    top: 22px;
    z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;

    &::before {
    position: absolute;
    content: "";
    background: #68b738;
    height: 3px;
    width: 100%;
    top: 22px;
    z-index: -1;
    }
  }

  &__sugar-value,
  &__water-value,
  &__milk-value,
  &__vitamins-value {
    @media (min-width: $tablet-width) {
    width: 155px;
      font-family: $arial;
      font-size: 16px;
      text-align: right;
  }

    @media (min-width: $desktop-width) {
      width: 155px;
      font-family: $arial;
      font-size: 16px;
      margin: 21px 0 0 0;
    }
  }
}

.yet-products__main-caption {
  font-family: $regular;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  background: white;
  margin: 0;
  padding-right: 22px;
  padding-left: 20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 27px;
    padding-left: 39px;
    padding-right: 37px;
    margin-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-left: 0;
    padding-right: 35px;
    padding-left: 40px;
  }
}

.yet-products__caption {
  font-family: $regular;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 16px;
  border-top: 1px solid $grey;

  @media (min-width: $tablet-width) {
    width: 130px;
    font-size: 20px;
    margin-bottom: 28px;
    border: none;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.yet-products__sugar div,
.yet-products__water div,
.yet-products__milk div,
.yet-products__vitamins div {
  font-family: $arial;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    width: 291px;
    margin-top: 7px;
  }
}

.yet-products__vitamins {
  border-bottom: 1px solid $grey;
  padding-bottom: 19px;

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 7px;
  }
}

.yet-products__sugar,
.yet-products__water,
.yet-products__milk,
.yet-products__vitamins {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 37px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $grey;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border: 0;
    border-top: 1px solid $grey;
  }
}

.yet-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.yet-products__sugar-price,
.yet-products__water-price,
.yet-products__milk-price,
.yet-products__vitamins-price {
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-family: $arial;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    font-family: $arial;
    font-size: 16px;
    margin: 0;
    width: 48px;
    text-align: left;
  }
}

.yet-products__sugar-value,
.yet-products__water-value,
.yet-products__milk-value,
.yet-products__vitamins-value {
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.yet-products__water-price {
  @media (min-width: $desktop-width) {
    margin-left: 86px;
  }
}

.yet-product__container {
  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-right: 79px;
    margin-top: 19px;
  }
}
