.page-header {
  &--main {
  background-image: url("/img/index-background-mobile%401x.jpg");
  background-repeat: no-repeat;
  background-position: 10px 190px;
  }
}
.page-header__nutrifit-caption {
  font-family: inherit;
  font-size: 36px;
  font-height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}
.page-header__nutrifit {
  font-family: inherit;
  font-size: 14px;
  font-height: 14px;
  text-align: center;
  color: #ffffff;
}

